
/* 
    Created on : May 14, 2025, 12:19:41 PM
    Author     : sar4n
*/

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-color: #ffffff;
  color: #000;
}

.header {
  background-color: #ff7f00;
  color: white;
  display: flex;
  align-items:center;
  padding: 5px 10px; 

   margin: 5px 5px;      
  border-radius: 20px;

  justify-content: space-between;
}

.logo-img {
  max-height: 3rem;
  width: auto;
 height: auto;
}

.title {
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.profile-btn {
  background: white;
  color: orange;
  border-radius: 100%;
  padding: 10px;
  font-weight: bold;
}

.navbar {

  color: white;
  display:flex;
  padding: 10px;
  gap: 10px;
}

.navbar button {
  background: none;
  border: none;
  color: #888;
 
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 20px;
  transition: all 0.3s ease;
}


.navbar button:hover {
  background-color: #b2dcff;
  color: #fff;
}


.navbar .active {
  background-color: #adadad;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(74, 74, 74, 0.3);
}


.navbar .active:hover {
  background-color: #555; 
}

.summary-cards {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 255, 255, 0.3);
  padding: 20px;
}

.card {
  
  text-align: center;
}

.card-title {
  background: #00cfff;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 5px;
  display: inline-block;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.card-value {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
}

.section-title {
  height: 2.5rem;
   background: linear-gradient(to right, rgba(137, 229, 188, 1), #ffffff);              
  margin: 20px 3px 5px 3px;  
  padding-left: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 8px;
}

.section h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

/* DONE*/




.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #a2dffb;
}

.order-table th, .order-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.order-table th {
  background-color: #5ccaff;
  color: white;
  font-weight: bold;
}

.chart-placeholder, .top-items-placeholder {
  height: 250px;
  background-color: #6ec6ff;
  margin-top: 10px;
  border-radius: 10px;
}
